### Задание 1

Выбранные данные для изучения: 
    2 - age
    3 - hospital number
    5 - pulse
    6 - respiratory rate
    7 - temperature of extremities
    9 - mucous membranes
    11 - pain
    20 - total protein

In [2]:
import pandas as pd
import numpy as np

In [3]:
horse_data = pd.read_csv('horse_data.csv', na_values=['?'])
selected_categories = [1, 2, 4, 5, 6, 8, 10, 19]
df = horse_data.iloc[:, selected_categories ]
df.columns = ['age', 'hospital_number', 'pulse', 'respiratory_rate', 'temp_of_extremities', 'mucous_membranes', 'pain', 'total_protein']
df.describe()

,age,hospital_number,pulse,respiratory_rate,temp_of_extremities,mucous_membranes,pain,total_protein
count,299.00000,2.990000e+02,275.000000,241.000000,243.000000,253.000000,244.000000,266.000000
mean,1.64214,1.087748e+06,71.934545,30.427386,2.345679,2.853755,2.942623,24.517293
std,2.17730,1.532026e+06,28.680522,17.678256,1.046369,1.620294,1.303993,27.509056
min,1.00000,5.184760e+05,30.000000,8.000000,1.000000,1.000000,1.000000,3.300000
25%,1.00000,5.289040e+05,48.000000,18.000000,1.000000,1.000000,2.000000,6.500000
50%,1.00000,5.303100e+05,64.000000,24.000000,3.000000,3.000000,3.000000,7.500000
75%,1.00000,5.347360e+05,88.000000,36.000000,3.000000,4.000000,4.000000,57.000000
max,9.00000,5.305629e+06,184.000000,96.000000,4.000000,6.000000,5.000000,89.000000

### Задание 2

In [5]:
q1 = df.age.quantile(0.25)
q3 = df.age.quantile(0.75)
iqr = q3 - q1
lower_bound = q1 - (1.5 * iqr) 
upper_bound = q3 + (1.5 * iqr)
remove_outliers = df[df.age.between(lower_bound, upper_bound, inclusive=True)].sort_values('age')
remove_outliers

,age,hospital_number,pulse,respiratory_rate,temp_of_extremities,mucous_membranes,pain,total_protein
0,1,534817,88.0,20.0,NaN,4.0,3.0,85.0
188,1,5299603,60.0,16.0,3.0,1.0,2.0,6.0
189,1,528742,40.0,8.0,NaN,4.0,3.0,6.7
191,1,534788,48.0,18.0,1.0,1.0,3.0,74.0
192,1,529373,60.0,48.0,3.0,4.0,4.0,7.6
...,...,...,...,...,...,...,...,...
100,1,534899,60.0,20.0,4.0,4.0,5.0,NaN
99,1,535364,40.0,16.0,3.0,1.0,1.0,66.0
98,1,530002,108.0,51.0,3.0,6.0,2.0,8.0
105,1,528668,52.0,96.0,NaN,3.0,NaN,6.1
298,1,534618,40.0,20.0,NaN,NaN,NaN,62.0

In [6]:
pd.concat([df, remove_outliers]).drop_duplicates(keep=False)

,age,hospital_number,pulse,respiratory_rate,temp_of_extremities,mucous_membranes,pain,total_protein
2,9,5290409,164.0,84.0,4.0,6.0,2.0,7.2
8,9,5299629,90.0,NaN,1.0,1.0,5.0,6.2
12,9,5291329,92.0,28.0,1.0,2.0,1.0,6.1
15,9,5301219,128.0,36.0,3.0,4.0,4.0,7.8
22,9,534998,130.0,60.0,NaN,NaN,2.0,70.0
38,9,5277409,146.0,96.0,NaN,NaN,NaN,NaN
40,9,5288249,150.0,72.0,NaN,NaN,NaN,8.5
54,9,5282839,160.0,20.0,3.0,5.0,3.0,NaN
73,9,5292929,NaN,NaN,NaN,NaN,NaN,4.9
74,9,534092,100.0,NaN,3.0,5.0,2.0,57.0
81,9,5290759,100.0,80.0,3.0,2.0,3.0,5.7
102,9,5292489,140.0,68.0,1.0,1.0,3.0,5.3
108,9,5297379,84.0,40.0,3.0,2.0,3.0,6.6
134,9,5287179,136.0,48.0,3.0,3.0,5.0,4.9
190,9,5287279,100.0,44.0,2.0,1.0,4.0,4.7
211,9,5294369,120.0,30.0,1.0,2.0,3.0,6.3
226,9,5289419,NaN,NaN,NaN,NaN,NaN,6.5
228,9,534597,120.0,70.0,NaN,NaN,NaN,54.0
243,9,5291409,124.0,88.0,1.0,2.0,2.0,8.0
251,9,5291719,124.0,36.0,3.0,2.0,2.0,7.6
254,9,5294539,184.0,84.0,1.0,1.0,4.0,3.3
261,9,5305629,88.0,28.0,NaN,NaN,NaN,5.9
274,9,5297159,150.0,50.0,1.0,6.0,5.0,6.2
286,9,5305129,84.0,30.0,NaN,NaN,NaN,5.0

In [7]:
print(remove_outliers.age.mean())
print(remove_outliers.age.median())

1.0
1.0

In [8]:
print(df.age.mean() - remove_outliers.age.mean())
print(df.age.median() - remove_outliers.age.median())

0.6421404682274248
0.0

,

#### hospital_number

In [38]:
q1 = df.hospital_number.quantile(0.25)
q3 = df.hospital_number.quantile(0.75)
iqr = q3 - q1
lower_bound = q1 - (1.5 * iqr) 
upper_bound = q3 + (1.5 * iqr)
remove_outliers = df[df.hospital_number.between(lower_bound, upper_bound, inclusive=True)].sort_values('hospital_number')
remove_outliers

,age,hospital_number,pulse,respiratory_rate,temp_of_extremities,mucous_membranes,pain,total_protein
196,1,521399,96,36,3,NaN,2,8.50
21,1,521681,42,34,2,4,2,7.20
140,1,522979,42,30,NaN,5,NaN,6.80
176,1,523190,68,14,NaN,4,4,NaN
16,1,526639,48,24,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...
99,1,535364,40,16,3,1,1,66
88,1,535381,42,10,1,1,1,61
223,1,535392,50,14,1,1,3,58
43,1,535407,140,24,3,4,4,69
28,1,535415,48,NaN,2,1,1,76

In [41]:
print(df.hospital_number.mean() - remove_outliers.hospital_number.mean())
print(df.hospital_number.median() - remove_outliers.hospital_number.median())

556842.298103946
309.0

естественные выбросы, оставить без изменений

#### pulse

In [9]:
df1 = pd.to_numeric(df.pulse, errors='coerce')
q1 = df1.quantile(0.25)
q3 = df1.quantile(0.75)
iqr = q3 - q1
lower_bound = q1 - (1.5 * iqr) 
upper_bound = q3 + (1.5 * iqr)
remove_outliers = df1[df1.between(lower_bound, upper_bound, inclusive=True)].sort_values()
remove_outliers

129     30.0
231     30.0
275     36.0
202     36.0
241     36.0
       ...
147    132.0
134    136.0
43     140.0
102    140.0
38     146.0
Name: pulse, Length: 270, dtype: float64

In [10]:
print(df1.mean() - remove_outliers.mean())
print(df1.median() - remove_outliers.median())

1.6604713804713782
0.0

естественные выбросы, так как больные лошади могут иметь такие значения, оставить без изменений

#### respiratory_rate

In [11]:
df2 = pd.to_numeric(df.respiratory_rate, errors='coerce')
q1 = df2.quantile(0.25)
q3 = df2.quantile(0.75)
iqr = q3 - q1
lower_bound = q1 - (1.5 * iqr) 
upper_bound = q3 + (1.5 * iqr)
remove_outliers = df2[df2.between(lower_bound, upper_bound, inclusive=True)].sort_values()
remove_outliers

189     8.0
202     9.0
139     9.0
208    10.0
88     10.0
       ...
219    58.0
184    60.0
19     60.0
247    60.0
22     60.0
Name: respiratory_rate, Length: 224, dtype: float64

In [12]:
print(df2.mean() - remove_outliers.mean())
print(df2.median() - remove_outliers.median())

3.717564463544754
0.0

возможно реальные показатели, так как в описании данных указано, что возможен большой разброс

#### temp_of_extremities

In [13]:
df3 = pd.to_numeric(df.temp_of_extremities, errors='coerce')
q1 = df3.quantile(0.25)
q3 = df3.quantile(0.75)
iqr = q3 - q1
lower_bound = q1 - (1.5 * iqr) 
upper_bound = q3 + (1.5 * iqr)
remove_outliers = df3[df3.between(lower_bound, upper_bound, inclusive=True)].sort_values()
remove_outliers

1      1.0
122    1.0
119    1.0
117    1.0
115    1.0
      ...
107    4.0
141    4.0
44     4.0
150    4.0
239    4.0
Name: temp_of_extremities, Length: 243, dtype: float64

In [14]:
print(df3.mean() - remove_outliers.mean())
print(df3.median() - remove_outliers.median())

0.0
0.0

показатели в норме, исправлений не требуется

#### mucous_membranes

In [15]:
df4 = pd.to_numeric(df.mucous_membranes, errors='coerce')
q1 = df4.quantile(0.25)
q3 = df4.quantile(0.75)
iqr = q3 - q1
lower_bound = q1 - (1.5 * iqr) 
upper_bound = q3 + (1.5 * iqr)
remove_outliers = df4[df4.between(lower_bound, upper_bound, inclusive=True)].sort_values()
remove_outliers

224    1.0
202    1.0
102    1.0
101    1.0
99     1.0
      ...
98     6.0
78     6.0
227    6.0
141    6.0
230    6.0
Name: mucous_membranes, Length: 253, dtype: float64

In [16]:
print(df4.mean() - remove_outliers.mean())
print(df4.median() - remove_outliers.median())

0.0
0.0

Данные в норме, изменений не требуется

#### pain

In [17]:
df5 = pd.to_numeric(df.pain, errors='coerce')
q1 = df5.quantile(0.25)
q3 = df5.quantile(0.75)
iqr = q3 - q1
lower_bound = q1 - (1.5 * iqr) 
upper_bound = q3 + (1.5 * iqr)
remove_outliers = df5[df5.between(lower_bound, upper_bound, inclusive=True)].sort_values()
remove_outliers

152    1.0
260    1.0
111    1.0
110    1.0
214    1.0
      ...
113    5.0
117    5.0
39     5.0
241    5.0
227    5.0
Name: pain, Length: 244, dtype: float64

In [18]:
print(df5.mean() - remove_outliers.mean())
print(df5.median() - remove_outliers.median())

0.0
0.0

Данные в норме, изменений не требуется

#### total_protein

In [19]:
df6 = pd.to_numeric(df.total_protein, errors='coerce')
q1 = df6.quantile(0.25)
q3 = df6.quantile(0.75)
iqr = q3 - q1
lower_bound = q1 - (1.5 * iqr) 
upper_bound = q3 + (1.5 * iqr)
remove_outliers = df6[df6.between(lower_bound, upper_bound, inclusive=True)].sort_values()
remove_outliers

254     3.3
209     4.0
141     4.5
83      4.5
246     4.6
       ...
143    81.0
62     82.0
0      85.0
89     86.0
207    89.0
Name: total_protein, Length: 266, dtype: float64

In [20]:
 print(df6.mean() - remove_outliers.mean())
print(df6.median() - remove_outliers.median())

1.0658141036401503e-14
0.0

### Задание 3

In [66]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 299 entries, 0 to 298
Data columns (total 8 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   age                  299 non-null    int64
 1   hospital_number      299 non-null    int64
 2   pulse                275 non-null    float64
 3   respiratory_rate     241 non-null    float64
 4   temp_of_extremities  243 non-null    float64
 5   mucous_membranes     253 non-null    float64
 6   pain                 244 non-null    float64
 7   total_protein        266 non-null    float64
dtypes: float64(6), int64(2)
memory usage: 18.8 KB

In [67]:
for col in df.columns:
    pct_missing = df[col].isnull().mean()
    print(f'{col} - {pct_missing :.1%}')

age - 0.0%
hospital_number - 0.0%
pulse - 8.0%
respiratory_rate - 19.4%
temp_of_extremities - 18.7%
mucous_membranes - 15.4%
pain - 18.4%
total_protein - 11.0%

Дальнейшая работа:
pulse - удалить
respiratory_rate - удалить
temp_of_extremities - удалить
mucous_membranes - удалить пропуски
pain - установить среднее значение, так как оценка субъективная
total_protein - удалить

In [65]:
#УДАЛЕНИЕ
#df.dropna().info()

In [63]:
#ЗАМЕНА
#df.fillna(method='ffill',inplace=True)

In [64]:
#df.fillna(method='bfill',inplace=True)

In [7]:
for col in df.columns:
    pct_missing = df[col].isnull().mean()
    print(f'{col} - {pct_missing :.1%}')

age - 0.0%
hospital_number - 0.0%
pulse - 0.0%
respiratory_rate - 19.4%
temp_of_extremities - 18.7%
mucous_membranes - 15.4%
pain - 18.4%
total_protein - 11.0%

In [6]:
#ЗАМЕНА ПРОПУСКОВ
#PULSE - в описании сказано, что нормальные молодые особи могут иметь значения в промежутке от 20 до 40 ударов, а у больных пульс может быть выше. здесь можно вычислить средний у тех, кто не болеет и у тех кто болеет и поставить эти средние значения

new_horse_data = pd.read_csv('horse_data.csv', na_values=['?'])
new_horse_data.columns = ['surgery', 'age', 'hospital_Number', 'rectal_temperature', 'pulse', 'respiratory_rate', 'temp_of_extremities', 'peripheral_pulse', 'mucous_membranes', 'capillary_refill_time', 'pain', 'peristalsis', 'abdominal_distension', 'nasogastric_tube', 'nasogastric_reflux', 'nasogastric_reflux_PH', 'rectal_examination_feces', 'abdomen', 'packed_cell_volume', 'total_protein', 'abdominocentesis_appearance', 'abdomcentesis_total_protein', 'outcome', 'surgical lesion', '25', '26', '27', 'cp_data']

df.pulse.fillna(new_horse_data.groupby('age').pulse.transform('mean'), inplace = True)
df

C:\Users\olyaz\anaconda31\lib\site-packages\pandas\core\generic.py:6245: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._update_inplace(new_data)

,age,hospital_number,pulse,respiratory_rate,temp_of_extremities,mucous_membranes,pain,total_protein
0,1,534817,88.000000,20.0,NaN,4.0,3.0,85.0
1,1,530334,40.000000,24.0,1.0,3.0,3.0,6.7
2,9,5290409,164.000000,84.0,4.0,6.0,2.0,7.2
3,1,530255,104.000000,35.0,NaN,6.0,NaN,7.4
4,1,528355,67.462451,NaN,2.0,3.0,2.0,NaN
...,...,...,...,...,...,...,...,...
294,1,533886,120.000000,70.0,4.0,4.0,2.0,65.0
295,1,527702,72.000000,24.0,3.0,4.0,4.0,NaN
296,1,529386,72.000000,30.0,4.0,4.0,4.0,6.8
297,1,530612,100.000000,24.0,3.0,3.0,3.0,6.0
298,1,534618,40.000000,20.0,NaN,NaN,NaN,62.0

In [10]:
#ЗАМЕНА ПРОПУСКОВ
#respiratory_rate - в описании сказано, что это незначительный показатель из-за больших колебаний, поэтому дополнить можно средним значением, которое в норме
df.respiratory_rate.fillna(new_horse_data.respiratory_rate.mean(), inplace = True)
df

C:\Users\olyaz\anaconda31\lib\site-packages\pandas\core\generic.py:6245: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._update_inplace(new_data)

,age,hospital_number,pulse,respiratory_rate,temp_of_extremities,mucous_membranes,pain,total_protein
0,1,534817,88.000000,20.000000,NaN,4.0,3.0,85.0
1,1,530334,40.000000,24.000000,1.0,3.0,3.0,6.7
2,9,5290409,164.000000,84.000000,4.0,6.0,2.0,7.2
3,1,530255,104.000000,35.000000,NaN,6.0,NaN,7.4
4,1,528355,67.462451,30.427386,2.0,3.0,2.0,NaN
...,...,...,...,...,...,...,...,...
294,1,533886,120.000000,70.000000,4.0,4.0,2.0,65.0
295,1,527702,72.000000,24.000000,3.0,4.0,4.0,NaN
296,1,529386,72.000000,30.000000,4.0,4.0,4.0,6.8
297,1,530612,100.000000,24.000000,3.0,3.0,3.0,6.0
298,1,534618,40.000000,20.000000,NaN,NaN,NaN,62.0

C:\Users\olyaz\anaconda31\lib\site-packages\pandas\core\generic.py:6245: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._update_inplace(new_data)

,age,hospital_number,pulse,respiratory_rate,temp_of_extremities,mucous_membranes,pain,total_protein
0,1,534817,88.000000,20.000000,3.078947,4.00000,3.0,85.0
1,1,530334,40.000000,24.000000,1.000000,3.00000,3.0,6.7
2,9,5290409,164.000000,84.000000,4.000000,6.00000,2.0,7.2
3,1,530255,104.000000,35.000000,3.117647,6.00000,NaN,7.4
4,1,528355,67.462451,30.427386,2.000000,3.00000,2.0,NaN
...,...,...,...,...,...,...,...,...
294,1,533886,120.000000,70.000000,4.000000,4.00000,2.0,65.0
295,1,527702,72.000000,24.000000,3.000000,4.00000,4.0,NaN
296,1,529386,72.000000,30.000000,4.000000,4.00000,4.0,6.8
297,1,530612,100.000000,24.000000,3.000000,3.00000,3.0,6.0
298,1,534618,40.000000,20.000000,2.333333,2.85654,NaN,62.0

In [39]:
#ЗАМЕНА ПРОПУСКОВ
#mucous_membranes - здесь зависимость от кровообращения, но не нашла такого показателя, чтобы взять среднее по нему. можно использовать возраст, так как указано, что оценка субъективная
df.mucous_membranes.fillna(new_horse_data.groupby('age').mucous_membranes.transform('mean'), inplace = True)

#ЗАМЕНА ПРОПУСКОВ
#temp_of_extremities - может коррелировать с шоком и ректальной температурой, сортировка по показателю слизистых, тк это может указывать на шок
df.temp_of_extremities.fillna(new_horse_data.groupby(['capillary_refill_time', 'mucous_membranes']).temp_of_extremities.transform('mean'), inplace = True)


df

C:\Users\olyaz\anaconda31\lib\site-packages\pandas\core\generic.py:6245: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._update_inplace(new_data)

,age,hospital_number,pulse,respiratory_rate,temp_of_extremities,mucous_membranes,pain,total_protein
0,1,534817,88.000000,20.000000,3.078947,4.00000,3.0,85.0
1,1,530334,40.000000,24.000000,1.000000,3.00000,3.0,6.7
2,9,5290409,164.000000,84.000000,4.000000,6.00000,2.0,7.2
3,1,530255,104.000000,35.000000,3.117647,6.00000,NaN,7.4
4,1,528355,67.462451,30.427386,2.000000,3.00000,2.0,NaN
...,...,...,...,...,...,...,...,...
294,1,533886,120.000000,70.000000,4.000000,4.00000,2.0,65.0
295,1,527702,72.000000,24.000000,3.000000,4.00000,4.0,NaN
296,1,529386,72.000000,30.000000,4.000000,4.00000,4.0,6.8
297,1,530612,100.000000,24.000000,3.000000,3.00000,3.0,6.0
298,1,534618,40.000000,20.000000,2.333333,2.85654,NaN,62.0

In [41]:
#ЗАМЕНА ПРОПУСКОВ
#pain - выбрала сортировку по возможности операции, так как чем выше боль, тем вероятнее что будет операция

df.pain.fillna(new_horse_data.groupby('surgery').pain.transform('mean'), inplace = True)
df

C:\Users\olyaz\anaconda31\lib\site-packages\pandas\core\generic.py:6245: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._update_inplace(new_data)

,age,hospital_number,pulse,respiratory_rate,temp_of_extremities,mucous_membranes,pain,total_protein
0,1,534817,88.000000,20.000000,3.078947,4.00000,3.000000,85.0
1,1,530334,40.000000,24.000000,1.000000,3.00000,3.000000,6.7
2,9,5290409,164.000000,84.000000,4.000000,6.00000,2.000000,7.2
3,1,530255,104.000000,35.000000,3.117647,6.00000,2.430000,7.4
4,1,528355,67.462451,30.427386,2.000000,3.00000,2.000000,NaN
...,...,...,...,...,...,...,...,...
294,1,533886,120.000000,70.000000,4.000000,4.00000,2.000000,65.0
295,1,527702,72.000000,24.000000,3.000000,4.00000,4.000000,NaN
296,1,529386,72.000000,30.000000,4.000000,4.00000,4.000000,6.8
297,1,530612,100.000000,24.000000,3.000000,3.00000,3.000000,6.0
298,1,534618,40.000000,20.000000,2.333333,2.85654,3.293706,62.0

In [45]:
#ЗАМЕНА ПРОПУСКОВ
#total_protein - сравнила со средним значением packed_cell_volume так как схоже действие по обезвоживанию 
df.total_protein.fillna(new_horse_data.groupby('capillary_refill_time').total_protein.transform('mean'), inplace = True)
df

C:\Users\olyaz\anaconda31\lib\site-packages\pandas\core\generic.py:6245: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._update_inplace(new_data)

,age,hospital_number,pulse,respiratory_rate,temp_of_extremities,mucous_membranes,pain,total_protein
0,1,534817,88.000000,20.000000,3.078947,4.00000,3.000000,85.000000
1,1,530334,40.000000,24.000000,1.000000,3.00000,3.000000,6.700000
2,9,5290409,164.000000,84.000000,4.000000,6.00000,2.000000,7.200000
3,1,530255,104.000000,35.000000,3.117647,6.00000,2.430000,7.400000
4,1,528355,67.462451,30.427386,2.000000,3.00000,2.000000,25.425281
...,...,...,...,...,...,...,...,...
294,1,533886,120.000000,70.000000,4.000000,4.00000,2.000000,65.000000
295,1,527702,72.000000,24.000000,3.000000,4.00000,4.000000,12.316667
296,1,529386,72.000000,30.000000,4.000000,4.00000,4.000000,6.800000
297,1,530612,100.000000,24.000000,3.000000,3.00000,3.000000,6.000000
298,1,534618,40.000000,20.000000,2.333333,2.85654,3.293706,62.000000

In [46]:
for col in df.columns:
    pct_missing = df[col].isnull().mean()
    print(f'{col} - {pct_missing :.1%}')

age - 0.0%
hospital_number - 0.0%
pulse - 0.0%
respiratory_rate - 0.0%
temp_of_extremities - 3.7%
mucous_membranes - 0.0%
pain - 0.0%
total_protein - 3.7%

In [48]:
df.dropna().info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 283 entries, 0 to 298
Data columns (total 8 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   age                  283 non-null    int64
 1   hospital_number      283 non-null    int64
 2   pulse                283 non-null    float64
 3   respiratory_rate     283 non-null    float64
 4   temp_of_extremities  283 non-null    float64
 5   mucous_membranes     283 non-null    float64
 6   pain                 283 non-null    float64
 7   total_protein        283 non-null    float64
dtypes: float64(6), int64(2)
memory usage: 19.9 KB