### Задание 1

Выбранные данные для изучения: 
    2 - age
    3 - hospital number
    5 - pulse
    6 - respiratory rate
    7 - temperature of extremities
    9 - mucous membranes
    11 - pain
    20 - total protein

In [25]:
import pandas as pd
import numpy as np

In [37]:
horse_data = pd.read_csv('horse_data.csv')
selected_categories = [1, 2, 4, 5, 6, 8, 10, 19]
df = horse_data.iloc[:, selected_categories ]
df.columns = ['age', 'hospital_number', 'pulse', 'respiratory_rate', 'temp_of_extremities', 'mucous_membranes', 'pain', 'total_protein']
df = df.replace('?', np.nan)
df.describe()

             age  hospital_number
count  299.00000     2.990000e+02
mean     1.64214     1.087748e+06
std      2.17730     1.532026e+06
min      1.00000     5.184760e+05
25%      1.00000     5.289040e+05
50%      1.00000     5.303100e+05
75%      1.00000     5.347360e+05
max      9.00000     5.305629e+06

### Задание 2

In [28]:
q1 = df.age.quantile(0.25)
q3 = df.age.quantile(0.75)
iqr = q3 - q1
lower_bound = q1 - (1.5 * iqr) 
upper_bound = q3 + (1.5 * iqr)
remove_outliers = df[df.age.between(lower_bound, upper_bound, inclusive=True)].sort_values('age')
remove_outliers

,age,hospital_number,pulse,respiratory_rate,temp_of_extremities,mucous_membranes,pain,total_protein
0,1,534817,88,20,NaN,4,3,85
188,1,5299603,60,16,3,1,2,6.00
189,1,528742,40,8,NaN,4,3,6.70
191,1,534788,48,18,1,1,3,74
192,1,529373,60,48,3,4,4,7.60
...,...,...,...,...,...,...,...,...
100,1,534899,60,20,4,4,5,NaN
99,1,535364,40,16,3,1,1,66
98,1,530002,108,51,3,6,2,8.00
105,1,528668,52,96,NaN,3,NaN,6.10
298,1,534618,40,20,NaN,NaN,NaN,62

In [29]:
pd.concat([df, remove_outliers]).drop_duplicates(keep=False)

,age,hospital_number,pulse,respiratory_rate,temp_of_extremities,mucous_membranes,pain,total_protein
2,9,5290409,164,84,4,6,2,7.20
8,9,5299629,90,NaN,1,1,5,6.20
12,9,5291329,92,28,1,2,1,6.10
15,9,5301219,128,36,3,4,4,7.80
22,9,534998,130,60,NaN,NaN,2,70
38,9,5277409,146,96,NaN,NaN,NaN,NaN
40,9,5288249,150,72,NaN,NaN,NaN,8.50
54,9,5282839,160,20,3,5,3,NaN
73,9,5292929,NaN,NaN,NaN,NaN,NaN,4.90
74,9,534092,100,NaN,3,5,2,57
81,9,5290759,100,80,3,2,3,5.70
102,9,5292489,140,68,1,1,3,5.30
108,9,5297379,84,40,3,2,3,6.60
134,9,5287179,136,48,3,3,5,4.90
190,9,5287279,100,44,2,1,4,4.70
211,9,5294369,120,30,1,2,3,6.30
226,9,5289419,NaN,NaN,NaN,NaN,NaN,6.50
228,9,534597,120,70,NaN,NaN,NaN,54
243,9,5291409,124,88,1,2,2,8.00
251,9,5291719,124,36,3,2,2,7.60
254,9,5294539,184,84,1,1,4,3.30
261,9,5305629,88,28,NaN,NaN,NaN,5.90
274,9,5297159,150,50,1,6,5,6.20
286,9,5305129,84,30,NaN,NaN,NaN,5.00

In [31]:
print(remove_outliers.age.mean())
print(remove_outliers.age.median())

1.0
1.0

In [39]:
print(df.age.mean() - remove_outliers.age.mean())
print(df.age.median() - remove_outliers.age.median())

0.5508857153757138
0.0

,

#### hospital_number

In [38]:
q1 = df.hospital_number.quantile(0.25)
q3 = df.hospital_number.quantile(0.75)
iqr = q3 - q1
lower_bound = q1 - (1.5 * iqr) 
upper_bound = q3 + (1.5 * iqr)
remove_outliers = df[df.hospital_number.between(lower_bound, upper_bound, inclusive=True)].sort_values('hospital_number')
remove_outliers

,age,hospital_number,pulse,respiratory_rate,temp_of_extremities,mucous_membranes,pain,total_protein
196,1,521399,96,36,3,NaN,2,8.50
21,1,521681,42,34,2,4,2,7.20
140,1,522979,42,30,NaN,5,NaN,6.80
176,1,523190,68,14,NaN,4,4,NaN
16,1,526639,48,24,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...
99,1,535364,40,16,3,1,1,66
88,1,535381,42,10,1,1,1,61
223,1,535392,50,14,1,1,3,58
43,1,535407,140,24,3,4,4,69
28,1,535415,48,NaN,2,1,1,76

In [41]:
print(df.hospital_number.mean() - remove_outliers.hospital_number.mean())
print(df.hospital_number.median() - remove_outliers.hospital_number.median())

556842.298103946
309.0

естественные выбросы, оставить без изменений

#### pulse

In [55]:
df1 = pd.to_numeric(df.pulse, errors='coerce')
q1 = df1.quantile(0.25)
q3 = df1.quantile(0.75)
iqr = q3 - q1
lower_bound = q1 - (1.5 * iqr) 
upper_bound = q3 + (1.5 * iqr)
remove_outliers = df1[df1.between(lower_bound, upper_bound, inclusive=True)].sort_values()
remove_outliers

129     30.0
231     30.0
275     36.0
202     36.0
241     36.0
       ...
147    132.0
134    136.0
43     140.0
102    140.0
38     146.0
Name: pulse, Length: 270, dtype: float64

In [51]:
print(df1.mean() - remove_outliers.mean())
print(df1.median() - remove_outliers.median())

1.6604713804713782
0.0

естественные выбросы, так как больные лошади могут иметь такие значения, оставить без изменений

#### respiratory_rate

In [56]:
df2 = pd.to_numeric(df.respiratory_rate, errors='coerce')
q1 = df2.quantile(0.25)
q3 = df2.quantile(0.75)
iqr = q3 - q1
lower_bound = q1 - (1.5 * iqr) 
upper_bound = q3 + (1.5 * iqr)
remove_outliers = df2[df2.between(lower_bound, upper_bound, inclusive=True)].sort_values()
remove_outliers

189     8.0
202     9.0
139     9.0
208    10.0
88     10.0
       ...
219    58.0
184    60.0
19     60.0
247    60.0
22     60.0
Name: respiratory_rate, Length: 224, dtype: float64

In [57]:
print(df2.mean() - remove_outliers.mean())
print(df2.median() - remove_outliers.median())

3.717564463544754
0.0

возможно реальные показатели, так как в описании данных указано, что возможен большой разброс

#### temp_of_extremities

In [58]:
df3 = pd.to_numeric(df.temp_of_extremities, errors='coerce')
q1 = df3.quantile(0.25)
q3 = df3.quantile(0.75)
iqr = q3 - q1
lower_bound = q1 - (1.5 * iqr) 
upper_bound = q3 + (1.5 * iqr)
remove_outliers = df3[df3.between(lower_bound, upper_bound, inclusive=True)].sort_values()
remove_outliers

1      1.0
122    1.0
119    1.0
117    1.0
115    1.0
      ...
107    4.0
141    4.0
44     4.0
150    4.0
239    4.0
Name: temp_of_extremities, Length: 243, dtype: float64

In [59]:
print(df3.mean() - remove_outliers.mean())
print(df3.median() - remove_outliers.median())

0.0
0.0

показатели в норме, исправлений не требуется

#### mucous_membranes

In [62]:
df4 = pd.to_numeric(df.mucous_membranes, errors='coerce')
q1 = df4.quantile(0.25)
q3 = df4.quantile(0.75)
iqr = q3 - q1
lower_bound = q1 - (1.5 * iqr) 
upper_bound = q3 + (1.5 * iqr)
remove_outliers = df4[df4.between(lower_bound, upper_bound, inclusive=True)].sort_values()
remove_outliers

224    1.0
202    1.0
102    1.0
101    1.0
99     1.0
      ...
98     6.0
78     6.0
227    6.0
141    6.0
230    6.0
Name: mucous_membranes, Length: 253, dtype: float64

In [63]:
print(df4.mean() - remove_outliers.mean())
print(df4.median() - remove_outliers.median())

0.0
0.0

Данные в норме, изменений не требуется

#### pain

In [65]:
df5 = pd.to_numeric(df.pain, errors='coerce')
q1 = df5.quantile(0.25)
q3 = df5.quantile(0.75)
iqr = q3 - q1
lower_bound = q1 - (1.5 * iqr) 
upper_bound = q3 + (1.5 * iqr)
remove_outliers = df5[df5.between(lower_bound, upper_bound, inclusive=True)].sort_values()
remove_outliers

152    1.0
260    1.0
111    1.0
110    1.0
214    1.0
      ...
113    5.0
117    5.0
39     5.0
241    5.0
227    5.0
Name: pain, Length: 244, dtype: float64

In [66]:
print(df5.mean() - remove_outliers.mean())
print(df5.median() - remove_outliers.median())

0.0
0.0

Данные в норме, изменений не требуется

#### total_protein

In [67]:
df6 = pd.to_numeric(df.total_protein, errors='coerce')
q1 = df6.quantile(0.25)
q3 = df6.quantile(0.75)
iqr = q3 - q1
lower_bound = q1 - (1.5 * iqr) 
upper_bound = q3 + (1.5 * iqr)
remove_outliers = df6[df6.between(lower_bound, upper_bound, inclusive=True)].sort_values()
remove_outliers

254     3.3
209     4.0
141     4.5
83      4.5
246     4.6
       ...
143    81.0
62     82.0
0      85.0
89     86.0
207    89.0
Name: total_protein, Length: 266, dtype: float64

In [69]:
 print(df6.mean() - remove_outliers.mean())
print(df6.median() - remove_outliers.median())

1.0658141036401503e-14
0.0

### Задание 3

In [70]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 299 entries, 0 to 298
Data columns (total 8 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   age                  299 non-null    int64
 1   hospital_number      299 non-null    int64
 2   pulse                275 non-null    object
 3   respiratory_rate     241 non-null    object
 4   temp_of_extremities  243 non-null    object
 5   mucous_membranes     253 non-null    object
 6   pain                 244 non-null    object
 7   total_protein        266 non-null    object
dtypes: int64(2), object(6)
memory usage: 18.8+ KB

In [71]:
for col in df.columns:
    pct_missing = df[col].isnull().mean()
    print(f'{col} - {pct_missing :.1%}')

age - 0.0%
hospital_number - 0.0%
pulse - 8.0%
respiratory_rate - 19.4%
temp_of_extremities - 18.7%
mucous_membranes - 15.4%
pain - 18.4%
total_protein - 11.0%

Дальнейшая работа:
pulse - удалить
respiratory_rate - удалить
temp_of_extremities - удалить
mucous_membranes - удалить пропуски
pain - установить среднее значение, так как оценка субъективная
total_protein - удалить

In [76]:
#УДАЛЕНИЕ
df.dropna().info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 298 entries, 1 to 298
Data columns (total 8 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   age                  298 non-null    int64
 1   hospital_number      298 non-null    int64
 2   pulse                298 non-null    object
 3   respiratory_rate     298 non-null    object
 4   temp_of_extremities  298 non-null    object
 5   mucous_membranes     298 non-null    object
 6   pain                 298 non-null    object
 7   total_protein        298 non-null    object
dtypes: int64(2), object(6)
memory usage: 21.0+ KB

In [78]:
#ЗАМЕНА
df.fillna(method='ffill',inplace=True)

In [79]:
df.fillna(method='bfill',inplace=True)

In [80]:
for col in df.columns:
    pct_missing = df[col].isnull().mean()
    print(f'{col} - {pct_missing :.1%}')

age - 0.0%
hospital_number - 0.0%
pulse - 0.0%
respiratory_rate - 0.0%
temp_of_extremities - 0.0%
mucous_membranes - 0.0%
pain - 0.0%
total_protein - 0.0%